.container {
  display: flex;
  justify-content: space-between;
   flex-wrap:wrap;



}

.card {
  display:flex;
  height: 400px;
   width: 300px;
    justify-content: space-between;
    margin:5px;


}

.card-img-top {
  display:flex;
  justify-content: space-between;
  height:300px;
  object-fit: cover;



}

.link {
  color: black;


}

.card-text {
  font-family: monospace;
  font-size: 24px;
  text-align: center;


}


h1 {
  text-align: center;
  font-family: monospace;
  font-size: 48px;

}

p {
  text-align:center;
  font-family: monospace;
  font-size:18px;



}

h2 {
   text-align: center;
  font-family: monospace;


}

h2 a {
   color:black;


}

a:link {
  text-decoration: none;

}

h2 a {
 background-color: #989898;
  color: white;
  padding: 4px 4px 4px 4px;
  margin: 4px 4px;
  text-decoration: none;
  border-radius: 4%;
   opacity: 0.6;
  transition: 0.3s;
}

h2 a:hover {
  background-color: #585858;
  color:white;
}


.new-ingredient {
  font-family: monospace;


}

.card-text {

  text-decoration: none;
  color:black;


}


